<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<div th:replace="~{header :: stylesheets(title='Products')}"></div>

<style>
    /* Thay đổi cách áp dụng border */
    .product-row-active > td {
        background: transparent;
        /*transition: border 0.15s ease;*/
    }

    /* Border trên cho main row */
    tr.product-row-active > td {
        border-top: 2px solid #2a38db;
    }

    /* Border dưới cho sub row */
    tr.expandable-body.product-row-active > td {
        border-bottom: 2px solid #2a38db;
    }

    /* Giữ border giữa 2 row nhưng để màu mặc định */
    tr.product-row-active:not(.expandable-body) > td {
        border-bottom: 1px solid #dee2e6; /* Màu border mặc định của table */
    }

    tr.expandable-body.product-row-active > td {
        border-top: 1px solid #dee2e6; /* Màu border mặc định của table */
    }

    /* Border trái/phải vẫn giữ màu vàng */
    tr.product-row-active > td:first-child {
        border-left: 2px solid #2a38db;
    }

    tr.product-row-active > td:last-child {
        border-right: 2px solid #2a38db;
    }

    /* Override cho sub row bottom border */
    tr.expandable-body.product-row-active > td {
        border-bottom: 2px solid #2a38db !important;
    }
</style>

<body class="hold-transition sidebar-mini layout-fixed sidebar-collapse">
    <div class="wrapper">
        <div th:replace="~{header :: header}"></div>

        <div th:replace="~{sidebar :: sidebar}"></div>

        <div class="content-wrapper" style="padding-top: 10px; padding-bottom: 1px;">
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <!--Search tool-->
                            <div th:replace="~{fragments :: searchTool(${configSearchTool})}" id="searchTool"></div>

                            <div class="card">
                                <div class="card-body table-responsive p-0" style="height: 600px">
                                    <table class="table table-head-fixed table-hover text-nowrap">
                                        <thead class="align-self-center">
                                            <tr class="align-self-center">
                                                <th>STT</th>
                                                <th></th>
                                                <th th:text="#{inventory.product.list.table.header.product_name}">Product name</th>
                                                <th>Brand</th>
                                                <th>Type</th>
                                                <th>Unit</th>
                                                <th>Stock</th>
                                                <th>Reserved</th>
                                                <th>Available</th>
                                                <th>Sold</th>
                                                <th>Status</th>
                                                <th>
                                                    <a th:href="@{/api/v1/product/export}" class="btn btn-sm btn-info"><i class="fa-solid fa-cloud-arrow-down mr-2"></i>Export</a>
                                                    <button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#insert" id="createProduct"><i class="fa-solid fa-circle-plus mr-2"></i>New</button>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="contentTable"></tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer">
                                    <div th:replace="~{fragments :: pagination}"></div>
                                </div>


                                <!-- modal import -->
                                <div class="modal fade" id="import">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <form th:action="@{/api/v1/product/import}" enctype="multipart/form-data" method="POST">
                                                <div class="modal-header">
                                                    <strong class="modal-title">Import data</strong>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <label>Chọn file import</label>
                                                                <input type="file" class="form-control" name="file">
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Template</label>
                                                                <a th:href="@{/api/v1/product/import/template}" class="form-control link"><i class="fa-solid fa-cloud-arrow-down"></i>Download template</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer justify-content-end">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                                                    <button type="submit" class="btn btn-primary">Lưu</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!-- modal import -->

                                <div class="modal fade" id="popProductDetail">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <strong class="modal-title" id="pfProductDetailTitle"></strong>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label>Product name</label>
                                                            <input type="text" class="form-control" placeholder="Product name" id="pfProductName">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Product type</label>
                                                            <select class="custom-select" id="pfProductType"></select>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Unit</label>
                                                            <select class="custom-select" id="pfUnit"></select>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Brand</label>
                                                            <select class="custom-select" id="pfBrand"></select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer justify-content-end">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                                                <button type="submit" class="btn btn-primary">Lưu</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal fade" id="popUpdatePrice">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <strong class="modal-title">Update price</strong>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label>Product code</label>
                                                            <input type="text" class="form-control" placeholder="Product code" id="pUP_VariantCode" disabled>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Retail price</label>
                                                            <input class="form-control" type="text" id="pUP_RetailPrice">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Cost price</label>
                                                            <input class="form-control" type="text" id="pUP_CostPrice">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer justify-content-end">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                                                <button type="submit" class="btn btn-primary" id="pUP_Confirm">Lưu</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Modal create product -->
                    <div th:replace="~{pages/product/fragments/product-fragments :: createProductOriginal}"></div>
                    <!--Modal view product history-->
                    <div th:replace="~{pages/product/fragments/product-fragments :: productHistoryModal}"></div>
                    <!--Modal view product variant-->
                    <div th:replace="~{pages/product/fragments/product-fragments :: viewProductVariantModal}"></div>
                </div>
            </section>
        </div>

        <div th:replace="~{modal_fragments :: confirm_modal}"></div>
        <div th:replace="~{modal_fragments :: dialog_modal}"></div>

        <div th:replace="~{footer :: footer}"></div>

        <aside class="control-sidebar control-sidebar-dark"></aside>

        <div th:replace="~{header :: scripts}"></div>
        <script th:src="@{/js/product/Products.js}"></script>
        <script th:src="@{/js/product/ProductHistory.js}"></script>
    </div>

    <script type="text/javascript">
        let mvProductList = [];
        let mvVariantAddedList = [];
        let mvAttributeAddedList = [];

        $(document).ready(function () {
            setupSearchTool();

            loadProducts(getPageSize(), getPageNum());
            updateTableContentWhenOnClickPagination(loadProducts);

            $("#btnSearch").on("click", function () {
                let brandFilter = $('#brandFilter').val();
                let unitFilter = $('#unitFilter').val();
                let discountFilter = $('#discountFilter').val();
                let productStatusFilter = $('#productStatusFilter').val();
                loadProducts($('#paginationInfo').attr("pageSize"), 1);
            })

            $(document).on("click", "[data-widget='expandable-table']", function () {
                let mainRow = $(this).closest("tr");
                let subRow = mainRow.next(".expandable-body");
                let productId = Number(mainRow.attr("productId"));

                let tblVariants = subRow.find(".tblVariants");
                let tblAttributes = subRow.find(".tblAttributes");

                tblVariants.empty();
                tblAttributes.empty();

                $(this).toggleClass("rotate");

                setTimeout(function () {
                    if (mainRow.attr("aria-expanded") === "true") {
                        mainRow.addClass("product-row-active");
                        subRow.addClass("product-row-active");

                        loadProductDetail(productId, tblVariants, tblAttributes);
                    } else {
                        mainRow.removeClass("product-row-active");
                        subRow.removeClass("product-row-active");
                    }
                }, 50);
            });
        });

        function loadProducts(pageSize, pageNum) {
            let apiURL = mvHostURLCallApi + '/product/all';
            let params = {
                pageSize: pageSize,
                pageNum: pageNum,
                txtSearch: $('#txtFilter').val(),
                productTypeId: $("#productTypeFilter").val(),
                colorId: $("#colorFilter").val(),
                sizeId: $("#sizeFilter").val()
            }
            $.get(apiURL, params, function (response) {//dùng Ajax JQuery để gọi xuống controller
                if (response.status === "OK") {
                    let data = response.data;
                    let pagination = response.pagination;

                    updatePaginationUI(pagination.pageNum, pagination.pageSize, pagination.totalPage, pagination.totalElements);

                    let contentTable = $('#contentTable');
                    contentTable.empty();
                    mvProductList = [];
                    $.each(data, function (index, p) {
                        mvProductList[p.id] = p;

                        let voucherBlock = '';
                        $.each(p.listVoucherInfoApply, function (voucherIndex, voucherInfo) {
                            voucherBlock += `<span>${voucherIndex + 1} </span><a href="/san-pham/voucher/detail/${voucherInfo.id}"><span>${voucherInfo.title}</span></a><br>`;
                        });

                        let variantsBlock = '';
                        let attributesBlock = '';

                        let lvImageBlock = getImageBlock(p.imageActive, p.productName);
                        let lvImageBlockDetail = getImageBlock(p.imageActive, p.productName, true);

                        contentTable.append(`
                            <tr aria-expanded="false" productId="${p.id}">
                                <td data-widget="expandable-table">${(((pageNum - 1) * pageSize + 1) + index)}</td>
                                <td data-widget="expandable-table" class="text-center">${lvImageBlock}</td>
                                <td data-widget="expandable-table">${p.productName}</td>
                                <td data-widget="expandable-table">${p.brand.name}</td>
                                <td data-widget="expandable-table">${p.productType.name}</td>
                                <td data-widget="expandable-table">${p.unit.name}</td>
                                <td data-widget="expandable-table" class="text-right">${p.stockQty}</td>
                                <td data-widget="expandable-table" class="text-right">${p.reservedQty}</td>
                                <td data-widget="expandable-table" class="text-right">${p.availableQty}</td>
                                <td data-widget="expandable-table" class="text-right">${p.soldQty}</td>
                                <td data-widget="expandable-table">${p.statusCode === 'ACT' ? `<span class="badge badge-primary">${p.statusName}</span>` : `${p.statusName}`}</td>
                                <td>
                                    <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#popProductDetail"  name="btnViewDetail"         productId="${p.id}">
                                        <i class="fa-solid fa-circle-info"></i></i>
                                    </button>
                                    <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#popProductHistory" name="btnViewProductHistory" productId="${p.id}" title="View product history">
                                        <i class="fa-solid fa-clock-rotate-left"></i>
                                    </button>
                                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#popDeleteProduct"     name="btnDeleteProduct"      productId="${p.id}" title="Delete">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr class="expandable-body d-none">
                                <td colspan="3">
                                    <div class="card-body pl-2 pt-2">
                                        <dl class="row">
                                            <dt class="col-sm-12 text-center">${lvImageBlockDetail}</dt>
                                            <dt class="col-sm-12 text-center"><a href="/san-pham/${p.id}">${p.productName}</a></dt>
                                            <dt class="col-sm-4 mb-0">Created at</dt>
                                            <dd class="col-sm-8 mb-0">${p.createdAt}</dd>
                                            <dt class="col-sm-4 mb-0">Created by</dt>
                                            <dd class="col-sm-8 mb-0">${p.createdBy}</dd>
                                        </dl>
                                    </div>
                                </td>
                                <td colspan="9">
                                    <div class="card-header p-0 pt-1 border-bottom-0">
                                        <ul class="nav nav-tabs" id="custom-tabs-${p.id}" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link font-weight-bold active" id="custom-tabs-variant-tab-${p.id}"
                                                 data-toggle="pill" href="#custom-tabs-variant-${p.id}" role="tab" aria-controls="custom-tabs-variant-${p.id}" aria-selected="true">Variants</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link font-weight-bold" id="custom-tabs-attribute-tab-${p.id}"
                                                 data-toggle="pill" href="#custom-tabs-attribute-${p.id}" role="tab" aria-controls="custom-tabs-attribute-${p.id}" aria-selected="true">Attributes</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-body p-0">
                                        <div class="tab-content" id="custom-tabs-tabContent-${p.id}">
                                            <div class="tab-pane fade active show" id="custom-tabs-variant-${p.id}" role="tabpanel" aria-labelledby="custom-tabs-variant-tab-${p.id}">
                                                <table class="table table-bordered" style="margin: 6px auto">
                                                    <thead>
                                                        <tr>
                                                            <th>Code</th><th>Fabric</th><th>Color</th><th>Size</th><th>Price</th><th>Cost</th><th>Stock</th><th>Reserved</th><th>Available</th><th>Sold</th>
                                                            <th>
                                                                <button type="button" class="btn btn-sm btn-success" name="btn-create-product-variant" productId="${p.id}"><i class="fa-solid fa-circle-plus"></i></button>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="tblVariants">
                                                        ${variantsBlock}
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="tab-pane fade" id="custom-tabs-attribute-${p.id}" role="tabpanel" aria-labelledby="custom-tabs-attribute-tab-${p.id}">
                                                <table class="table table-bordered" style="margin: 6px auto">
                                                    <thead>
                                                        <tr>
                                                            <th>No.</th><th>Attribute name</th><th>Value</th><th>Order displayed</th><th>Status</th>
                                                            <th>
                                                                <button type="button" class="btn btn-sm btn-success" name="btn-create-product-attribute" productId="${p.id}"><i class="fa-solid fa-circle-plus"></i></button>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="tblAttributes">
                                                        ${attributesBlock}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        `);
                    });
                }
            }).fail(function () {
                showErrorModal("Could not connect to the server");//nếu ko gọi xuống được controller thì báo lỗi
            });
        }

        function loadProductDetail(productId, tblVariants, tblAttributes) {
            let apiURL = mvHostURLCallApi + '/product/' + productId;
            $.get(apiURL, function (response) {
                if (response.status === "OK") {
                    let product = response.data;

                    $.each(product.variants, function (variantIndex, variantInfo) {
                        tblVariants.append(
                            `<tr class="row-variant-item" variantId="${variantInfo.id}">
                                <td name="variantCode" style="color: #007bff; cursor: pointer">${(variantIndex + 1) + '. '} ${variantInfo.variantCode}</td>
                                <td>${variantInfo.fabricType.name}</td>
                                <td>${variantInfo.color.name}</td>
                                <td>${variantInfo.size.name}</td>
                                <td class="text-right" name="colRetailPrice">${formatUSCurrency(variantInfo.price.retailPrice)}</td>
                                <td class="text-right" name="colCostPrice">${formatUSCurrency(variantInfo.price.costPrice)}</td>
                                <td class="text-right">${variantInfo.storageQty}</td>
                                <td class="text-right">${variantInfo.reservedQty}</td>
                                <td class="text-right">${variantInfo.availableQty}</td>
                                <td class="text-right">${variantInfo.soldQty}</td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-info" data-toggle="modal" data-target="#popUpdatePrice" name="btnUpdatePrice" productId="${product.id}" productVariantId="${variantInfo.id}">
                                        <i class="fa-solid fa-dollar-sign"></i>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-danger" name="btnDeleteVariant" productId="${product.id}" productVariantId="${variantInfo.id}">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </td>
                            </tr>`
                        );
                    });

                    $.each(product.attributes, function (attributeIndex, attributeInfo) {
                        tblAttributes.append(
                            `<tr class="row-attribute-item" attributeId="${attributeInfo.id}">
                                <td>${attributeIndex + 1}</td>
                                <td><input class="form-control" type="text" name="colAttributeName" value="${attributeInfo.attributeName}"/></td>
                                <td><input class="form-control" type="text" name="colAttributeValue" value="${attributeInfo.attributeValue}"/></td>
                                <td><input class="form-control" type="text" name="colSort" value="${attributeInfo.sort}"/></td>
                                <td><input class="form-control" type="text" name="colSort" value="${attributeInfo.status == true ? 'Active' : 'Inactive'}"/></td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-info" name="btn-update-product-attribute" productId="${product.id}" productAttributeId="${attributeInfo.id}">
                                        <i class="fa-solid fa-pencil"></i>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-danger" name="btn-delete-product-attribute" productId="${product.id}" productAttributeId="${attributeInfo.id}">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </td>
                            </tr>`
                        );
                    });
                }
            }).fail(function (xhr) {
                showErrorModal($.parseJSON(xhr.responseText).message);
            });
        }

        function getImageBlock(imageUrl, productName, isDetail = false) {
            const size = isDetail ? 60 : 30;
            const style = `width: ${size}px; height: ${size}px; border-radius: 3px`;
            const defaultImg = "/media/default/product";

            if (!imageUrl) {
                return `<img src="${defaultImg}" style="${style}">`;
            }

            return `<a href="${imageUrl}" data-toggle="lightbox" data-title="${productName}" data-gallery="gallery">
                        <img src="${imageUrl}" class="img-fluid" alt="${productName}" style="${style}">
                    </a>`;
        }

        function loadCategory() {
            let productTypeSelect = $('#productTypeField');
            let unitSelect = $('#unitField');
            let brandSelect = $('#brandField');
            let colorSelect = $('#colorField');
            let sizeSelect = $('#sizeField');
            let fabricTypeSelect = $('#fabricTypeField');

            downloadSelectionCategory(productTypeSelect, 'Chọn loại sản phẩm', "product-type");
            downloadSelectionCategory(unitSelect, 'Chọn unit', "unit");
            downloadSelectionCategory(brandSelect, 'Chọn nhãn hiệu', "brand");
            downloadSelectionCategory(colorSelect, 'Chọn color', "color");
            downloadSelectionCategory(sizeSelect, 'Chọn size', "size");
            downloadSelectionCategory(fabricTypeSelect, 'Chọn chất vải', "fabric-type");
        }

        function createProduct() {
            let creationType = $('#createProductSubmit').attr('creationType');

            let apiURL = mvHostURLCallApi + "/product/create";
            let productTypeId = parseInt($("#productTypeField").val());
            let brandId = parseInt($("#brandField").val());
            let productName = $("#productNameField").val();
            let unitId = parseInt($("#unitField").val());

            //Update variant's actual value
            $('#tblInsertVariants tr').each(function () {
                let $row = $(this);

                let colorId       = $row.find('td[colorId]').attr('colorId');
                let sizeId        = $row.find('td[sizeId]').attr('sizeId');
                let fabricTypeId  = $row.find('td[fabricTypeId]').attr('fabricTypeId');

                let retailPrice = parseFloat($row.find('input[name="txtVariantRetailPrice"]').val().replaceAll(',', '')) || 0;
                let wholesalePrice = retailPrice;
                let costPrice   = parseFloat($row.find('input[name="txtVariantCostPrice"]').val().replaceAll(',', ''))   || 0;
                let soldQty     = parseInt($row.find('input[name="txtSoldQty"]').val())    || 0;
                let storageQty  = parseInt($row.find('input[name="txtStorageQty"]').val()) || 0;

                let key = colorId + "-" + sizeId + "-" + fabricTypeId;

                let variant = mvVariantAddedList.find(item => item.key === key);
                if (variant) {
                    variant.retailPrice = retailPrice;
                    variant.costPrice   = costPrice;
                    variant.soldQty     = soldQty;
                    variant.storageQty  = storageQty;
                    variant.price = {
                        retailPrice: retailPrice,
                        wholesalePrice: wholesalePrice,
                        costPrice: costPrice
                    };
                }
            });

            //Update attribute's actual value
            $('#tblInsertAttributes tr').each(function () {
                let $row = $(this);

                let attributeName = $row.find('.attribute-name').text();
                let attributeValue = $row.find('.attribute-value').text();
                let attributeSort = $row.find('.attribute-sort').text();

                let key = attributeName;

                let attribute = mvAttributeAddedList.find(item => item.key === key);
                if (attribute) {
                    attribute.attributeName = attributeName;
                    attribute.attributeValue = attributeValue;
                    attribute.sort = attributeSort;
                }
            });

            let body = {
                productType: {
                    id: productTypeId
                },
                brand: {
                    id: brandId
                },
                unit: {
                    id: unitId
                },
                productName: productName,
                variants: mvVariantAddedList,
                attributes: mvAttributeAddedList
            };

            if (creationType === 'variantOnly') {
                let productId = Number($('#createProductSubmit').attr('productId'));
                apiURL = `${mvHostURLCallApi}/product/${productId}/variant/create`;
                body = {
                    productId: productId,
                    variants: mvVariantAddedList
                };
            } else if (creationType === 'attributeOnly') {
                let productId = Number($('#createProductSubmit').attr('productId'));
                apiURL = `${mvHostURLCallApi}/product/${productId}/attribute/create`;
                body = {
                    productId: productId,
                    attributes: mvAttributeAddedList
                };
            }

            $.ajax({
                url: apiURL,
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(body),
                success: function (response, textStatus, jqXHR) {
                    if (response.status === "OK") {
                        alert("Create successfully")
                        window.location.reload();
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    //showErrorModal("Could not connect to the server");
                    showErrorModal($.parseJSON(xhr.responseText).message);
                }
            });
        }
    </script>
</body>
</html>