<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Danh sách sản phẩm</title>
    <th:block th:replace="~{header :: stylesheets}"></th:block>
    <style rel="stylesheet">
        .table td,
        th {
            vertical-align: middle;
        }
    </style>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <div th:replace="~{header :: header}"></div>

        <div th:replace="~{sidebar :: sidebar}"></div>

        <div class="content-wrapper" style="padding-top: 10px; padding-bottom: 1px;">
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <!--Search tool-->
                            <div th:replace="~{fragments :: searchTool(${configSearchTool})}" id="searchTool"></div>

                            <div class="card">
                                <div class="card-header">
                                    <div class="row justify-content-between">
                                        <div class="col-4" style="display: flex; align-items: center">
                                            <h3 class="card-title"><strong class="text-uppercase">PRODUCTS</strong></h3>
                                        </div>
                                        <div class="col-6 text-right">
                                            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#import"><i class="fa-solid fa-cloud-arrow-up mr-2"></i>Import</button>
                                            <a th:href="@{/api/v1/product/export}" class="btn btn-info btn-sm"><i class="fa-solid fa-cloud-arrow-down mr-2"></i>Export data</a>
                                            <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#insert" id="createProduct"><i class="fa-solid fa-circle-plus mr-2"></i>Thêm mới</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body table-responsive p-0" style="height: 500px">
                                    <table class="table table-head-fixed text-nowrap">
                                        <thead class="align-self-center">
                                            <tr class="align-self-center">
                                                <th>STT</th>
                                                <th></th>
                                                <th>Product name</th>
                                                <th>Brand</th>
                                                <th>Type</th>
                                                <th>Variants</th>
                                                <th>Unit</th>
                                                <th>Inventory qty</th>
                                                <th>Sold qty</th>
                                                <th>Min-max stock</th>
                                                <th>Status</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody id="contentTable"></tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer">
                                    <div th:replace="~{fragments :: pagination}"></div>
                                </div>


                                <!-- modal import -->
                                <div class="modal fade" id="import">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <form th:action="@{/api/v1/product/import}" enctype="multipart/form-data" method="POST">
                                                <div class="modal-header">
                                                    <strong class="modal-title">Import data</strong>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <label>Chọn file import</label>
                                                                <input type="file" class="form-control" name="file">
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Template</label>
                                                                <a th:href="@{/api/v1/product/import/template}" class="form-control link"><i class="fa-solid fa-cloud-arrow-down"></i>Download template</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer justify-content-end">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                                                    <button type="submit" class="btn btn-primary">Lưu</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!-- modal import -->

                                <div class="modal fade" id="popProductDetail">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <strong class="modal-title" id="pfProductDetailTitle"></strong>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label>Product name</label>
                                                            <input type="text" class="form-control" placeholder="Product name" id="pfProductName">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Product type</label>
                                                            <select class="custom-select" id="pfProductType"></select>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Unit</label>
                                                            <select class="custom-select" id="pfUnit"></select>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Brand</label>
                                                            <select class="custom-select" id="pfBrand"></select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer justify-content-end">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                                                <button type="submit" class="btn btn-primary">Lưu</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal fade" id="popUpdatePrice">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <strong class="modal-title">Update price</strong>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label>Product code</label>
                                                            <input type="text" class="form-control" placeholder="Product code" id="pUP_VariantCode" disabled>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Retail price</label>
                                                            <input class="form-control" type="text" id="pUP_RetailPrice">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Cost price</label>
                                                            <input class="form-control" type="text" id="pUP_CostPrice">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer justify-content-end">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                                                <button type="submit" class="btn btn-primary" id="pUP_Confirm">Lưu</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Modal create product -->
                    <div th:replace="~{pages/product/fragments/product-fragments :: createProductOriginal}"></div>
                </div>
            </section>
        </div>

        <div th:replace="~{modal_fragments :: confirm_modal}"></div>
        <div th:replace="~{modal_fragments :: dialog_modal}"></div>

        <div th:replace="~{footer :: footer}"></div>

        <aside class="control-sidebar control-sidebar-dark"></aside>

        <div th:replace="~{header :: scripts}"></div>
        <script th:src="@{/js/product/Products.js}"></script>
    </div>

    <script type="text/javascript">
        let mvProductList = [];
        let mvVariantAddedList = [];

        $(document).ready(function () {
            setupSearchTool();

            loadProducts(getPageSize(), getPageNum());
            updateTableContentWhenOnClickPagination(loadProducts);

            $("#btnSearch").on("click", function () {
                let brandFilter = $('#brandFilter').val();
                let unitFilter = $('#unitFilter').val();
                let discountFilter = $('#discountFilter').val();
                let productStatusFilter = $('#productStatusFilter').val();
                loadProducts($('#paginationInfo').attr("pageSize"), 1);
            })
        });

        function loadProducts(pageSize, pageNum) {
            let apiURL = mvHostURLCallApi + '/product/all';
            let params = {
                pageSize: pageSize,
                pageNum: pageNum,
                txtSearch: $('#txtFilter').val(),
                productTypeId: $("#productTypeFilter").val(),
                colorId: $("#colorFilter").val(),
                sizeId: $("#sizeFilter").val()
            }
            $.get(apiURL, params, function (response) {//dùng Ajax JQuery để gọi xuống controller
                if (response.status === "OK") {
                    let data = response.data;
                    let pagination = response.pagination;

                    updatePaginationUI(pagination.pageNum, pagination.pageSize, pagination.totalPage, pagination.totalElements);

                    let contentTable = $('#contentTable');
                    contentTable.empty();
                    mvProductList = [];
                    $.each(data, function (index, p) {
                        mvProductList[p.id] = p;

                        let voucherBlock = '';
                        $.each(p.listVoucherInfoApply, function (voucherIndex, voucherInfo) {
                            voucherBlock += `<span>${voucherIndex + 1} </span><a href="/san-pham/voucher/detail/${voucherInfo.id}"><span>${voucherInfo.title}</span></a><br>`;
                        });

                        let variantsBlock = '';
                        $.each(p.variants, function (variantIndex, variantInfo) {
                            variantsBlock +=
                                `<tr variantId="${variantInfo.id}">
                                    <td>${variantIndex + 1}</td>
                                    <td name="variantCode">${variantInfo.variantCode}</td>
                                    <td>${variantInfo.fabricType.name}</td>
                                    <td>${variantInfo.color.name}</td>
                                    <td>${variantInfo.size.name}</td>
                                    <td class="text-right" name="colRetailPrice">${formatUSCurrency(variantInfo.price.retailPrice)}</td>
                                    <td class="text-right" name="colCostPrice">${formatUSCurrency(variantInfo.price.costPrice)}</td>
                                    <td class="text-right">${variantInfo.storageQty}</td>
                                    <td class="text-right">${variantInfo.soldQty}</td>
                                    <td>
                                        <button type="button" class="btn btn-sm btn-info" data-toggle="modal" data-target="#popUpdatePrice" name="btnUpdatePrice" productId="${p.id}" productVariantId="${variantInfo.id}">
                                            <i class="fa-solid fa-dollar-sign"></i>
                                        </button>
                                    </td>
                                </tr>`;
                        });

                        let lvImageStyle = `width: 30px; height: 30px; border-radius: 3px`;
                        let lvImageBlock = `<img src="/media/default/product" style="${lvImageStyle}">`;
                        if (p.imageActive != null) {
                            lvImageBlock = `<a href="${p.imageActive}" data-toggle="lightbox" data-title="${p.productName}" data-gallery="gallery">
                                                <img src="${p.imageActive}" class="img-fluid" alt="white sample" style="${lvImageStyle}">
                                            </a>`
                        }

                        contentTable.append(`
                            <tr aria-expanded="false">
                                <td>${(((pageNum - 1) * pageSize + 1) + index)}</td>
                                <td class="text-center">${lvImageBlock}</td>
                                <td><a href="/san-pham/${p.id}">${p.productName}</a></td>
                                <td>${p.brand.name}</td>
                                <td>${p.productTypeName}</td>
                                <td class="text-right">${p.variants.length} <i class="fa-solid fa-caret-down ml-1" data-widget="expandable-table"></i></td>
                                <td>${p.unitName}</td>
                                <td class="text-right">${p.totalStorageQty}</td>
                                <td class="text-right">${p.totalSoldQty}</td>
                                <td class="text-center"></td>
                                <td>${mvProductStatus[p.status]}</td>
                                <td>
                                    <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#popProductDetail"  name="btnViewDetail"         productId="${p.id}">
                                        <i class="fa-solid fa-circle-info"></i></i>
                                    </button>
                                    <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#popStorageHistory" name="btnViewStorageHistory" productId="${p.id}">
                                        <i class="fa-solid fa-warehouse"></i>
                                    </button>
                                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#popDeleteProduct"     name="btnDeleteProduct"      productId="${p.id}">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr class="expandable-body d-none">
                                <td colspan="12">
                                    <table class="table table-bordered" style="display: none; margin: 6px auto">
                                        <thead>
                                            <tr>
                                                <th>No.</th><th>Code</th><th>Fabric</th><th>Color</th><th>Size</th><th>Retail price</th><th>Cost price</th><th>Inventory Qty</th><th>Sold Qty</th><th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            ${variantsBlock}
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        `);
                    });
                }
            }).fail(function () {
                showErrorModal("Could not connect to the server");//nếu ko gọi xuống được controller thì báo lỗi
            });
        }

        function loadCategory() {
            let productTypeSelect = $('#productTypeField');
            let unitSelect = $('#unitField');
            let brandSelect = $('#brandField');
            let colorSelect = $('#colorField');
            let sizeSelect = $('#sizeField');
            let fabricTypeSelect = $('#fabricTypeField');

            downloadSelectionCategory(productTypeSelect, 'Chọn loại sản phẩm', "product-type");
            downloadSelectionCategory(unitSelect, 'Chọn unit', "unit");
            downloadSelectionCategory(brandSelect, 'Chọn nhãn hiệu', "brand");
            downloadSelectionCategory(colorSelect, 'Chọn color', "color");
            downloadSelectionCategory(sizeSelect, 'Chọn size', "size");
            downloadSelectionCategory(fabricTypeSelect, 'Chọn chất vải', "fabric-type");
        }

        function createProduct() {
            let apiURL = mvHostURLCallApi + "/product/create";
            let productTypeId = parseInt($("#productTypeField").val());
            let brandId = parseInt($("#brandField").val());
            let productName = $("#productNameField").val();
            let unitId = parseInt($("#unitField").val());

            //Update variant's actual value
            $('#tblInsertVariants tr').each(function () {
                let $row = $(this);

                let colorId       = $row.find('td[colorId]').attr('colorId');
                let sizeId        = $row.find('td[sizeId]').attr('sizeId');
                let fabricTypeId  = $row.find('td[fabricTypeId]').attr('fabricTypeId');

                let retailPrice = parseFloat($row.find('input[name="txtVariantRetailPrice"]').val().replaceAll(',', '')) || 0;
                let wholesalePrice = retailPrice;
                let costPrice   = parseFloat($row.find('input[name="txtVariantCostPrice"]').val().replaceAll(',', ''))   || 0;
                let soldQty     = parseInt($row.find('input[name="txtSoldQty"]').val())    || 0;
                let storageQty  = parseInt($row.find('input[name="txtStorageQty"]').val()) || 0;

                let key = colorId + "-" + sizeId + "-" + fabricTypeId;

                let variant = mvVariantAddedList.find(item => item.key === key);
                if (variant) {
                    variant.retailPrice = retailPrice;
                    variant.costPrice   = costPrice;
                    variant.soldQty     = soldQty;
                    variant.storageQty  = storageQty;
                    variant.price = {
                        retailPrice: retailPrice,
                        wholesalePrice: wholesalePrice,
                        costPrice: costPrice
                    };
                }
            });

            let body = {
                productTypeId: productTypeId,
                brandId: brandId,
                productName: productName,
                unitId: unitId,
                variants: mvVariantAddedList
            };

            $.ajax({
                url: apiURL,
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(body),
                success: function (response, textStatus, jqXHR) {
                    if (response.status === "OK") {
                        alert("Create successfully")
                        window.location.reload();
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    //showErrorModal("Could not connect to the server");
                    showErrorModal($.parseJSON(xhr.responseText).message);
                }
            });
        }

        $(function () {
            $(document).on('click', '[data-toggle="lightbox"]', function (event) {
                event.preventDefault();
                $(this).ekkoLightbox({
                    alwaysShowClose: true
                });
            });
        })
    </script>
</body>
</html>