#Port
server:
  port: 8085
  servlet:
    session:
      timeout: 3600
#API prefix
app:
  api:
    prefix: /api/v1
#spring config
spring:
  profiles:
    active: dev
  application:
    name: sms
  main:
    allow-circular-references: true
    lazy-initialization: true
  resources:
    static-locations:
      - classpath:/static/**
      - file:/static/uploads/**
  # Config package chứa file view JSP
  thymeleaf:
    prefix: classpath:/templates/webapp/views/
    suffix: .html
    mode: HTML
    encoding: UTF-8
  #banner
  banner:
    location: classpath:banner.txt
  # Database
  jpa:
    properties:
      hibernate:
        query:
          fail_on_pagination_over_collection_fetch: false
          in_clause_parameter_padding: true
        session_factory:
          statement_inspector: com.flowiee.pms.common.config.CustomHibernateInterceptor
        enhancer:
          enableLazyInitialization: false
          enableDirtyTracking: false
          enableAssociationManagement: false
        bytecode:
          provider: none
#        default_batch_fetch_size: 20
#        transaction:
#          coordinator_class: jdbc
#    open-in-view: false
  # File's size request
      javax:
        persistence:
          validation:
            mode: none
  servlet:
    multipart:
      max-file-size: 500MB
      max-request-size: 500MB
  security:
    filter:
      dispatcher-types: REQUEST
#Log
logging:
  level:
    org.hibernate.SQL: off  #Log câu SQL
    #org.hibernate.type.descriptor.sql.BasicBinder: TRACE  #Log tham số truyền vào
  config: classpath:logback-spring.xml
system:
  admin:
    username: ${SA_USERNAME:}
IPWho:
  apiKey: ${IPWho_apiKey:}