<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="delete(entityName, entityId, deleteURL, visible)" th:remove="tag">
            <th:block th:if="${visible}"> <!-- visible dùng đế kiểm tra category có con hay ko, nếu có con thì ko cho delete -->
                <a class="fas fa-trash fa-2x icon-dark link-delete" th:href="@{${deleteURL}}" th:entityId="${entityId}"
                   th:title="'Delete this ' + ${entityName}"></a>
            </th:block>
        </div>

        <div th:fragment="createProductOriginal">
            <div class="modal fade" id="insert">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <strong class="modal-title">Thêm mới sản phẩm</strong>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body" style="height: 500px; overflow: auto">
                            <div class="row product-creation-section" id="mdl_createProduct_generalInfoSection">
                                <div class="col-9">
                                    <div class="form-group">
                                        <label>Tên sản phẩm</label>
                                        <input type="text" class="form-control" placeholder="Tên sản phẩm" id="productNameField">
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label>Loại sản phẩm</label>
                                        <select class="custom-select" id="productTypeField"></select>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>Đơn vị tính</label>
                                        <select class="custom-select" id="unitField"></select>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>Nhãn hiệu</label>
                                        <select class="custom-select" id="brandField"></select>
                                    </div>
                                </div>
                            </div>

                            <!-- Add variants -->
                            <fieldset  class="row border-top pt-2 product-creation-section" id="mdl_createProduct_variantSection">
                                <legend class="w-auto px-2" style="font-weight: bold; font-size: 16px">Variants info</legend>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label>Color</label>
                                        <select class="custom-select" id="colorField"></select>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label>Size</label>
                                        <select class="custom-select" id="sizeField"></select>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label>Fabric type</label>
                                        <select class="custom-select" id="fabricTypeField"></select>
                                    </div>
                                </div>
                                <div class="col-3 d-flex justify-content-center align-items-center">
                                    <button type="button" class="btn btn-sm btn-info w-50" id="btnAddVariant">
                                        <i class="fa-solid fa-circle-plus"></i>
                                    </button>
                                </div>
                                <div class="col-12">
                                    <div class="card mb-0">
                                        <!-- /.card-header -->
                                        <div class="card-body table-responsive p-0" style="height: 250px;">
                                            <table class="table table-head-fixed text-nowrap">
                                                <thead>
                                                    <tr>
                                                        <th>Color</th>
                                                        <th>Size</th>
                                                        <th>Fabric type</th>
                                                        <th>Retail price</th>
                                                        <th>Cost price</th>
                                                        <th>Sold Qty</th>
                                                        <th>Storage Qty</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tblInsertVariants"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <!-- Add attributes -->
                            <fieldset  class="row border-top pt-2 mt-3 product-creation-section" id="mdl_createProduct_attributeSection">
                                <legend class="w-auto px-2 mb-0" style="font-weight: bold; font-size: 16px">Attributes info</legend>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label>Field name</label>
                                        <input type="text" class="form-control" id="attributeNameField" placeholder="attribute name"/>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label>Value</label>
                                        <input type="text" class="form-control" id="attributeValueField" placeholder="attribute value"/>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label>Sort</label>
                                        <input type="number" class="form-control" id="sortField" value="0"/>
                                    </div>
                                </div>
                                <div class="col-3 d-flex justify-content-center align-items-center">
                                    <button type="button" class="btn btn-sm btn-info w-50" id="btnAddAttribute">
                                        <i class="fa-solid fa-circle-plus"></i>
                                    </button>
                                </div>
                                <div class="col-12">
                                    <div class="card mb-0">
                                        <!-- /.card-header -->
                                        <div class="card-body table-responsive p-0" style="height: 250px;">
                                            <table class="table table-head-fixed text-nowrap">
                                                <thead>
                                                    <tr>
                                                        <th>Attribute name</th>
                                                        <th>Attribute value</th>
                                                        <th>Order displayed</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tblInsertAttributes"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="modal-footer justify-content-end">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary" id="createProductSubmit">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:fragment="viewProductVariantModal">
            <div class="modal fade" id="viewProductVariantModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <strong class="modal-title" id="mdl_pv_name"></strong>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <img><img>
                            </div>
                            <div class="row">
                                <label class="col-4">Product type</label>
                                <span class="col-8 text-center" id="mdl_pv_productType"></span>
                            </div>
                            <div class="row">
                                <label class="col-4">Unit type</label>
                                <span class="col-8 text-center" id="mdl_pv_unit"></span>
                            </div>
                            <div class="row">
                                <label class="col-4">Size</label>
                                <span class="col-8 text-center" id="mdl_pv_size"></span>
                            </div>
                            <div class="row">
                                <label class="col-4">Color</label>
                                <span class="col-8 text-center" id="mdl_pv_color"></span>
                            </div>
                            <div class="row">
                                <label class="col-4">Retail price</label>
                                <span class="col-8 text-center" id="mdl_pv_retailPrice"></span>
                            </div>
                            <div class="row">
                                <label class="col-4">Cost price</label>
                                <span class="col-8 text-center" id="mdl_pv_costPrice"></span>
                            </div>
                        </div>
                        <div class="modal-footer justify-content-end">
                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Dismiss</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:fragment="productHistoryModal">
            <div class="modal fade" id="popProductHistory">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <ul class="nav nav-tabs" id="history-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link font-weight-bold active" id="history-tabs-infoChangesTab"
                                       data-toggle="pill" href="#history-tabs-infoChangesContent" role="tab">Information changes</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link font-weight-bold" id="history-tabs-storageTransactionTab"
                                       data-toggle="pill" href="#history-tabs-storageTransactionContent" role="tab">Storage transaction</a>
                                </li>
                            </ul>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" style="max-height: 800px; overflow: scroll">
                            <div class="tab-content" id="history-content-tabs">
                                <div class="tab-pane fade active show" id="history-tabs-infoChangesContent" role="tabpanel">
                                    <table class="table table-bordered" style="margin-bottom: 0">
                                        <thead>
                                            <tr>
                                                <th>STT</th>
                                                <th>Title</th>
                                                <th>Field name</th>
                                                <th>Old value</th>
                                                <th>New value</th>
                                                <th>Updated by</th>
                                                <th>Time</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tableProductHistory"></tbody>
                                    </table>
                                </div>
                                <div class="tab-pane fade" id="history-tabs-storageTransactionContent" role="tabpanel">
                                    <table class="table table-responsive table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>STT</th>
                                                <th>Ngày ghi nhận</th>
                                                <th>Nhân viên</th>
                                                <th>Thao tác</th>
                                                <th>Product code</th>
                                                <th>Số lượng thay đổi</th>
                                                <th>Tồn kho</th>
                                                <th>Mã chứng từ</th>
                                                <th>Chi nhánh</th>
                                            </tr>
                                        </thead>
                                        <tbody id="storageHistoryTbl"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer justify-content-end">
                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Hủy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:fragment="changeImageModal">
            <div class="modal fade" id="modalChangeImage">
                <div class="modal-dialog">
                    <div class="modal-content text-left">
                        <div class="modal-header">
                            <strong class="modal-title">Thay đổi hình ảnh</strong>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="form-group">
                                    <label>Chọn hình mới</label>
                                    <input class="form-control" type="file" id="imageToChange">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer justify-content-end">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                            <button type="submit" class="btn btn-primary" id="btnChangeImageSubmit">Lưu</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:fragment="activeImageModal">
            <div class="modal fade" id="modalActiveImage">
                <div class="modal-dialog">
                    <div class="modal-content text-left">
                        <div class="modal-header">
                            <strong class="modal-title">Đặt ảnh hiển thị default</strong>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            Xác nhận chọn this image is default!
                        </div>
                        <div class="modal-footer justify-content-end">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                            <button type="button" class="btn btn-primary" id="btnActiveImageSubmit">Lưu</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:fragment="imageOfProductTab">
            <div class="row justify-content-between">
                <div class="col-12 text-right mt-1 mb-1">
                    <button type="button" class="btn btn-sm btn-success ml-1 mr-1" style="margin: auto" data-toggle="modal" data-target="#modalUploadImage">
                        <i class="fa-solid fa-upload mr-2"></i> Upload
                    </button>

                    <div class="modal fade" id="modalUploadImage">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <strong class="modal-title">Upload image sản phẩm</strong>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="modal-body">
                                    <div class="row" style="max-height: 520px; overflow: scroll">
                                        <div class="card col-sm-12">
                                            <div class="card-body">
                                                <div id="actions" class="row">
                                                    <div class="col-lg-7">
                                                        <div class="btn-group w-100">
                                                            <span class="btn btn-sm btn-success col fileinput-button"><i class="fas fa-plus"></i><span><!--Chọn file--></span></span>
                                                            <button type="submit" class="btn btn-sm btn-primary col start"><i class="fas fa-upload"></i><span><!--Tải lên SV--></span></button>
                                                            <button type="reset" class="btn btn-sm btn-warning col cancel"><i class="fas fa-times-circle"></i><span><!--Hủy--></span></button>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-5 d-flex align-items-center">
                                                        <div class="fileupload-process w-100">
                                                            <div id="total-progress" class="progress progress-striped active" role="progressbar"
                                                                 aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                                                <div class="progress-bar progress-bar-success" style="width: 0%;" data-dz-uploadprogress></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="table table-striped files" id="previews">
                                                    <div id="template" class="row mt-2">
                                                        <div class="col-auto">
                                                            <span class="preview"><img src="data:," alt="" data-dz-thumbnail/></span>
                                                        </div>
                                                        <div class="col d-flex align-items-center">
                                                            <p class="mb-0">
                                                                <span class="lead" data-dz-name></span>
                                                                (<span data-dz-size></span>)
                                                            </p>
                                                            <strong class="error text-danger" data-dz-errormessage></strong>
                                                        </div>
                                                        <div class="col-3 d-flex align-items-center">
                                                            <div class="progress progress-striped active w-100" role="progressbar"
                                                                 aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                                                <div class="progress-bar progress-bar-success" style="width:0%" data-dz-uploadprogress></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-auto d-flex align-items-center">
                                                            <div class="btn-group">
                                                                <button class="btn btn-sm btn-primary start"><i class="fas fa-upload"></i><span><!--Tải lên SV--></span></button>
                                                                <button data-dz-remove class="btn btn-sm btn-warning cancel"><i class="fas fa-times-circle"></i><span><!--Hủy--></span></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /.card-body -->
                                            <div class="card-footer">
                                                <i>Lưu ý: Kích thước không được vượt quá 10MB cho mỗi file và tổng dung lượng không vượt 50MB cho mỗi lượt.</i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer justify-content-end">
                                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Hủy</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pl-3 pr-3" id="gridSubImages"></div>
        </div>

        <div th:fragment="searchProductModal">
            <div class="modal fade" id="searchProductModal">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <strong class="modal-title">Tìm sản phẩm</strong>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body p-3">
                            <div class="card-header p-0">
                                <div class="row col-12 input-group mb-3 p-0">
                                    <div class="col-6 mr-1">
                                        <input class="form-control" id="txtSearchModal"/>
                                    </div>
                                    <div class="col-5 row mr-1">
                                        <select class="col form-control custom-select search-selection mr-1" id="brandSearchModal"></select>
                                        <select class="col form-control custom-select search-selection mr-1" id="colorSearchModal"></select>
                                        <select class="col form-control custom-select search-selection mr-1" id="sizeSearchModal"></select>
                                    </div>
                                    <button class="col-1 btn btn-info form-control" id="btnSearchModal">
                                        <i class="fa-solid fa-magnifying-glass mr-2"></i>Tìm
                                    </button>
                                </div>
                            </div>
                            <div class="card-body align-items-center p-0">
                                <table class="table table-bordered" style="margin-bottom: 0">
                                    <thead>
                                        <th>STT</th>
                                        <th><input type="checkbox" id="cbxChooseAllProduct" style="width: 25px; height: 25px"></th>
                                        <th><button class="btn btn-sm btn-primary w-100" id="btnSubmitProductOnSearchModal">Chọn</button></th>
                                        <th>Hình ảnh</th>
                                        <th>Mã sản phẩm</th>
                                        <th>Tên sản phẩm</th>
                                        <th>Màu sắc</th>
                                        <th>Kích cỡ</th>
                                        <th>Chất liệu</th>
                                        <th>Số lượng</th>
                                        <th>Giá bán</th>
                                        <th>Chi nhánh</th>
                                    </thead>
                                    <tbody id="productListTbl"></tbody>
                                </table>
                            </div>
                            <div class="card-footer">
                                <div th:replace="~{fragments :: pagination}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>