<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Phiếu nhập hàng</title>
    <th:block th:replace="~{header :: stylesheets}"></th:block>
    <style rel="stylesheet">
        .table td, th {
            vertical-align: middle;
        }
    </style>
</head>
<body class="hold-transition sidebar-mini layout-fixed sidebar-collapse">
    <div class="wrapper">
        <div th:replace="~{header :: header}"></div>

        <div th:replace="~{sidebar :: sidebar}"></div>

        <div class="content-wrapper" style="padding-top: 10px; padding-bottom: 1px">
            <!-- Section title -->
            <div class="col-12" style="padding-left: 15px; padding-right: 8px; padding-bottom: 0px; margin-bottom: 0px">
                <section class="card" style="height: 70px">
                    <div class="form-group row justify-content-between p-3">
                        <div class="col-9">
                            <div class="row">
                                <input class="col-9 form-control" type="text" id="titleField" placeholder="Name"/>
                            </div>
                        </div>
                        <div class="col-3 row justify-content-end">
                            <div class="col-6">
                                <button class="btn btn-info w-100" type="button" id="btnUpdateTicket"><i class="fa-solid fa-check mr-1"></i>Cập nhật</button>
                            </div>
                            <div class="col-6">
                                <button class="btn btn-success w-100" type="button" data-toggle="modal" data-target="#modalUploadFile"><i class="fa-solid fa-upload"></i></button>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!-- End section title -->

            <div class="row" style="padding-left: 7px; padding-right: 7px">
                <div class="col-9" style="padding-right: 0">
                    <section class="col-12">
                        <div class="card p-3" style="max-height: 350px; overflow: auto">
                            <div class="row">
                                <table class="table table-head-fixed text-nowrap">
                                    <thead>
                                        <tr>
                                            <th>
                                                <button class="btn btn-sm btn-primary w-auto" id="btnAddItems">
                                                    <i class="fa-solid fa-plus"></i>
                                                </button>
                                            </th>
                                            <th>Item type</th>
                                            <th>Item name</th>
                                            <th>Price</th>
                                            <th>Qty</th>
                                            <th>Amount</th>
                                            <th>Note</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody id="tblItems"></tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                    <!-- End section items -->

                    <!-- Section image -->
                    <section class="col-12">
                        <div class="card p-3" style="min-height: 366px; max-height: 366px; overflow: auto">
                            <div class="row">
                                <!--<div class="col-2 mb-2" th:each="list : ${ticketImportDetail.listImages}">
                                    <div class="card border" style="height: 186px">
                                        <div class="card-body product-image-thumb" style="margin: auto; border: none">
                                            <img th:src="@{'/' + ${list.directoryPath} + '/' + ${list.storageName}}"
                                                 th:imageId="${list.id}" style="border-radius: 5px" alt="Product Image" class="sub-image" >
                                        </div>
                                        <div class="card-footer row">
                                            <i style="cursor: pointer" th:imageId="${list.id}" class="fa-solid fa-trash text-danger col btn-delete-image"></i>
                                        </div>
                                    </div>
                                </div>-->
                            </div>
                        </div>
                    </section>
                    <!-- End section image -->
                </div>

                <!-- Section form thông tin -->
                <div class="col-3" style="padding-left: 0">
                    <section class="col-12 card p-3" style="height: 716px">
                        <div class="form-group row" style="padding-right: 8px">
                            <span class="col-5" style="display: flex; align-items: center; font-weight: bold">Nhà cung cấp</span>
                            <select class="custom-select col-7" id="supplierField">
                                <option th:each="i : ${thSuppliers}" th:value="${i.id}" th:text="${i.name}"></option>
                            </select>
                        </div>
                        <div class="form-group row" style="padding-right: 8px">
                            <span class="col-5" style="display: flex; align-items: center; font-weight: bold">Thời gian nhập</span>
                            <input class="col-7 form-control" type="date" id="importTimeField"/>
                        </div>
                        <div class="form-group row" style="padding-right: 8px">
                            <span class="col-5" style="display: flex; align-items: center; font-weight: bold">Processing Staff</span>
                            <select class="custom-select col-7" id="importerField">
                                <option th:each="i : ${thStaffs}" th:value="${i.id}" th:text="${i.fullName}"></option>
                            </select>
                        </div>
                        <div class="form-group row" style="padding-right: 8px">
                            <span class="col-5" style="display: flex; align-items: center; font-weight: bold">Tổng giá trị</span>
                            <input class="col-7 form-control" id="totalValueField" disabled/>
                        </div>
                        <div class="form-group">
                            <label for="noteField">Ghi chú</label>
                            <textarea class="form-control" rows="5" id="noteField"></textarea>
                        </div>
                        <div class="form-group row" style="padding-right: 8px">
                            <span class="col-5" style="display: flex; align-items: center; font-weight: bold">Trạng thái</span>
                            <select class="custom-select col-7" id="statusField">
                                <option th:each="i : ${thStatus}" th:value="${i}" th:text="${i}"></option>
                            </select>
                        </div>
                    </section>
                </div>
                <!-- End section form thông tin -->
            </div>
        </div>
    </div>

    <div th:replace="~{footer :: footer}"></div>

    <div th:replace="~{modal_fragments :: confirm_modal}"></div>
    <div th:replace="~{fragments :: uploadFileModal}"></div>
    <div th:replace="~{pages/product/fragments/product-fragments :: searchProductModal}"></div>

    <aside class="control-sidebar control-sidebar-dark"></aside>

    <div th:replace="~{header :: scripts}"></div>

    <script th:src="@{/js/product/SearchProductModal.js}"></script>
    <script th:src="@{/js/storage/GoodsImport.js}"></script>

    <script th:inline="javascript">
        let mvTicketImportDetail = {};
        let mvProductVariantSelected = {};
        let mvMaterialSelected = {};
        let mvTitle = $("#titleField");
        let mvImportTime = $("#importTimeField");
        let mvNote = $("#noteField");
        let mvImporter = $("#importerField");
        let mvSupplier = $("#supplierField");

        let mvTransactionGoodsImportId = [[${thTransactionGoods.id}]];

        $(document).ready(function () {
            updateInfo();
        });

        function loadPaymentMethods() {
            let apiURL = mvHostURLCallApi + "/category/payment-method";
            $.get(apiURL, function (response) {
                if (response.status === "OK") {
                    $('#paymentMethodField').append(`<option>Chọn phương thức thanh toán</option>`);
                    $.each(response.data, function (index, d) {
                        $('#paymentMethodField').append(`<option value="${d.id}">${d.name}</option>`);
                    });
                }
            }).fail(function () {
                showErrorModal("Could not connect to the server");
            });
        }

        function loadPaymentStatuses() {
            let apiURL = mvHostURLCallApi + "/category/payment-status";
            $.get(apiURL, function (response) {
                if (response.status === "OK") {
                    $('#paymentStatusField').append(`<option>Chọn trạng thái thanh toán</option>`);
                    $.each(response.data, function (index, d) {
                        $('#paymentStatusField').append(`<option value="${d.id}">${d.name}</option>`);
                    });
                }
            }).fail(function () {
                showErrorModal("Could not connect to the server");
            });
        }

        function updateInfo() {
            $("#btnUpdateTicket").on("click", function () {
                $(this).attr("actionType", "update");
                showConfirmModal($(this), "Thông báo hệ thống!", "Bạn muốn cập nhật thông tin phiếu nhập hàng hóa?")
            })

            $("#yesButton").on("click", function () {
                let apiURL = mvHostURLCallApi + "/stg/ticket-import/update/" + mvTicketImportDetail.id;
                let body = {
                    title : mvTitle.val(),
                    supplierId : $('#supplierField option:selected').val(),
                    importTime : moment(mvImportTime.val()).format('DD/MM/YYYY HH:mm:ss'),
                    importer : $("#importerField").val(),
                    status : $("#statusField").val(),
                    note : mvNote.val(),
                    listProductVariantTemp : mvProductVariantSelected,
                    listMaterialTemp : mvMaterialSelected
                };
                $.ajax({
                    url: apiURL,
                    type: "PUT",
                    contentType: "application/json",
                    data: JSON.stringify(body),
                    success: function (response, textStatus, jqXHR) {
                        if (response.status === "OK") {
                            let ticketImportUpdated = response.data;
                            alert("Cập nhật thành công!");
                            window.location.reload();
                        }
                    },
                    error: function (xhr) {
                        alert("Error: " + $.parseJSON(xhr.responseText).message);
                    }
                });
            })
        }
    </script>

    <script>
        $(function () {
            //Initialize Select2 Elements
            $('.select2').select2()
            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })

            //Bootstrap Duallistbox
            $('.duallistbox').bootstrapDualListbox()

            $("input[data-bootstrap-switch]").each(function () {
                $(this).bootstrapSwitch('state', $(this).prop('checked'));
            })

            //Date and time picker
            $('#reservationdatetime_orderTime').datetimepicker({icons: {time: 'far fa-clock'}});
            $('#reservationdatetime_receivedTime').datetimepicker({icons: {time: 'far fa-clock'}});
            //Timepicker
            $('#timepicker').datetimepicker({
                format: 'LT'
            })

            //Date range picker
            $('#reservation').daterangepicker()
        })
    </script>

    <script> // Upload file
    // DropzoneJS Demo Code Start
    Dropzone.autoDiscover = true

    // Get the template HTML and remove it from the doumenthe template HTML and remove it from the doument
    var previewNode = document.querySelector("#template")
    previewNode.id = ""
    var previewTemplate = previewNode.parentNode.innerHTML
    previewNode.parentNode.removeChild(previewNode)

    var myDropzone = new Dropzone(document.body, { // Make the whole body a dropzone
        url: "/uploads/ticket-import/[[${ticketImportId}]]", // Gọi tới API trong spring để xử lý file
        thumbnailWidth: 80,
        thumbnailHeight: 80,
        parallelUploads: 20,
        previewTemplate: previewTemplate,
        autoQueue: false, // Make sure the files aren't queued until manually added
        previewsContainer: "#previews", // Define the container to display the previews
        clickable: ".fileinput-button", // Define the element that should be used as click trigger to select files.
    })

    myDropzone.on("addedfile", function (file) {
        // Hookup the start button
        file.previewElement.querySelector(".start").onclick = function () {
            myDropzone.enqueueFile(file)
        }
    })

    // Update the total progress bar
    myDropzone.on("totaluploadprogress", function (progress) {
        document.querySelector("#total-progress .progress-bar").style.width = progress + "%"
    })

    myDropzone.on("sending", function (file) {
        // Show the total progress bar when upload starts
        document.querySelector("#total-progress").style.opacity = "1"
        // And disable the start button
        file.previewElement.querySelector(".start").setAttribute("disabled", "disabled")
    })

    // Hide the total progress bar when nothing's uploading anymore
    myDropzone.on("queuecomplete", function (progress) {
        document.querySelector("#total-progress").style.opacity = "0"
    })

    // Setup the buttons for all transfers
    // The "add files" button doesn't need to be setup because the config
    // `clickable` has already been specified.
    document.querySelector("#actions .start").onclick = function () {
        myDropzone.enqueueFiles(myDropzone.getFilesWithStatus(Dropzone.ADDED))
    }
    document.querySelector("#actions .cancel").onclick = function () {
        myDropzone.removeAllFiles(true)
    }
    // DropzoneJS Demo Code End

    </script>
</body>
</html>