<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="modalUpdateItem">
        <div class="modal fade" id="modalUpdateItem">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <strong class="modal-title">Cập nhật sản phẩm</strong>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row" style="display: flex; align-items: center; margin: 0 0 15px 0">
                            <label class="col-sm-4 text-left">Item name</label>
                            <input class="col-sm-8 form-control" id="mdlUItem_itemName" readonly/>
                        </div>
                        <div class="form-group row" style="display: flex; align-items: center; margin: 0 0 15px 0">
                            <label class="col-sm-4 text-left">Quantity</label>
                            <input class="col-sm-8 form-control" type="number" id="mdlUItem_itemQuantity"/>
                        </div>
                        <div class="form-group row" style="display: flex; align-items: center; margin: 0 0 15px 0">
                            <label class="col-sm-4 text-left">Giảm thêm</label>
                            <input class="col-sm-8 form-control" id="mdlUItem_itemExtraDiscount"/>
                        </div>
                        <div class="form-group row" style="display: flex; align-items: center; margin: 0 0 15px 0">
                            <label class="col-sm-4 text-left">Price type</label>
                            <select class="col-8 custom-select" name="priceType" required>
                                <option value="L">Retail</option>
                            </select>
                        </div>
                        <div class="form-group row" style="display: flex; align-items: center; margin: 0">
                            <label class="col-sm-4 text-left">Ghi chú</label>
                            <textarea class="col-sm-8 form-control" id="mdlUItem_itemNote"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-end">
                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Hủy</button>
                        <button type="submit" class="btn btn-sm btn-primary" id="mdlUItem_submit">Đồng ý</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:fragment="modalDeleteItem">
        <div class="modal fade" id="modalDeleteItem">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <strong class="modal-title">Delete item</strong>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        Do you want to delete this item
                        <span class="badge badge-info ml-1 mr-1" id="mdlDItem_itemName"></span>
                        out of cart!
                    </div>
                    <div class="modal-footer justify-content-end">
                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Hủy</button>
                        <button type="submit" class="btn btn-sm btn-primary" id="mdlDItem_submit">Đồng ý</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:fragment="modalClearCart">
        <div class="modal fade" id="modalClearCart">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <strong class="modal-title">Thông báo xác nhận</strong>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        Xác nhận reset giỏ hàng
                    </div>
                    <div class="modal-footer justify-content-end">
                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Hủy</button>
                        <button type="submit" class="btn btn-sm btn-primary">Đồng ý</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:fragment="modalSearchCustomer">
        <div class="modal fade" id="modalSearchCustomer">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <strong class="modal-title">Search customer</strong>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Customer name</label>
                            <input type="text" class="form-control" id="mdlSearchCustomer_customerName"/>
                        </div>
                        <div class="form-group">
                            <label>Phone number</label>
                            <input type="text" class="form-control" id="mdlSearchCustomer_phoneNumber"/>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-sm btn-info" id="mdlSearchCustomer_search">Search</button>
                        </div>
                        <div class="card-body table-responsive p-0" style="height: 250px">
                            <table class="table table-head-fixed text-nowrap">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Customer name</th>
                                        <th>Phone number</th>
                                        <th>Email</th>
                                        <th>Address</th>
                                    </tr>
                                </thead>
                                <tbody id="mdlSearchCustomer_tblCustomers"></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-end">
                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Hủy</button>
                        <button type="submit" class="btn btn-sm btn-primary" id="mdlSearchCustomer_submit">Đồng ý</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>